.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
#buttons{
  margin-left: 850px;
}
#title{
  text-decoration: none;
  color: white;
}
#button-col{
  margin-left: 10px;
  color: red;
}
.icon{
  margin-bottom: -7px;
  color: red;
}


