<div class="container">
    <div id="form">
        <div id="heading">
            <h2>Login</h2>
        </div>
        <form [formGroup]="userLogin" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field appearance="outline" id="gap">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" name="email">
                        <mat-error *ngIf="email?.errors?.['required']">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="email?.errors?.['email']">
                            Email format is wrong
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" name="password">
                        <mat-error *ngIf="password?.errors?.['required']">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
            <div id="submit">
                <button mat-raised-button color="warn" type="submit" id="login">Login</button>
                <button mat-raised-button type="reset" color="primary">Reset</button>
            </div>
        </form>
    </div>    
</div>