  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .view{
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
}
  #addCuisine{
    margin-top: 10px;
    color: red;
  }
  .notesection{
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
}

.example-card{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px lightcoral ;
    background-color: white;
}
mat-card-header{
    color: red;
}
mat-card-footer{
    text-align: center;
    color: red;
}
button{
    margin-bottom: 10px;
    margin-left: 50px;
}
p{
    text-decoration: underline;
}
#itemImg{
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}
p{
  text-decoration: none;
}
.container{
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  padding-bottom: 96px;
}
